* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
  font-family: "Poppins", arial;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}
